#testResultsTemplate,
#rowTemplateContainer{
	display: none;
}

.testSuiteTitle{
	font-size: 26px;
}

th{
	font-size: 20px;
}

table{
	text-align: left;
}

td {
	width: 200px;
}

.testSuiteContainer{
	margin-bottom: 22px;
}

.Pass{
	background-color: lightgreen;
}

.Fail{
	background-color: red;
}

div#resultsCounterContainer{
	width: 200px;
	font-size: 48px;
	
	float: right;
}

div#leftPanel{
	float: left;
}

#resultsContainer{
	float: right;
}