#testResultsTemplate,
#rowTemplateContainer{
	display: none;
}

.testSuiteTitle{
	font-size: 26px;
}

th{
	font-size: 20px;
}

table{
	text-align: left;
}

td {
	width: 200px;
}

.testSuiteContainer{
	margin-bottom: 22px;
}

tr.Pass{
	background-color: lightgreen;
}

tr.Fail{
	background-color: red;
}